@import "dimensions";

#start {

    background: url(../i/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .btn {
    height:40px;
  }
  &.page-container {
    top: 0px;
    padding-top: 46px;
    padding-left: 35px;
    padding-right: 35px;
  }
  form {
    padding-top: 8px;
  }
  .form-field.button-field {
    margin-bottom: 12px;
    &.last {
      margin-top: 12px;
      margin-bottom: 26px;
    }
  }
  .btn-social {
    &.btn-fb {
      span::before {
        top:-1px;
        left: -1px;
        @include use-sprite(btn-fb-start);
      }
    }
  }
}

.form-field.button-field.last {
  margin-top:12px;
  margin-bottom: 12px;
}

#book-details {
  padding-left:0px;
  padding-right:0px;
  section {
    padding-left: $page-padding-side;
    padding-right: $page-padding-side;
    border-style: solid;
    border-color: #eff1f3;
    border-width: 0px;
  }
}

#main-bookshelf {
  H1 {
    margin-top: 17px;
    margin-bottom: 7px;
  }
  div.button {
    display:none;
  }
}
