@import "compass/css3/box-shadow";

.book-cover {
  width: 79px;
  height: 115px;
  border:3px solid #FFF;

  &.empty {
    border-style: dashed;
    border-color: #8C8C8C;
  }

  img {
    width:100%;
    height: auto;
    border: none;
  }
}

.book-cover:not(.empty) {
  @include box-shadow(rgba(1, 1, 1, 0.25) 0px 0px 2px);
}

.book-field {
  position:relative;
  border-style: solid;
  border-color: #eff1f3;
  border-width: 0px;
  padding:10px 0;
  display:table;
  .book-cover, .book-info {
    display: table-cell;
    position: relative;
    vertical-align: top;
  }
  .book-info {
    left: 10px;
    h2 {
      margin-top:0px;
    }
  }
}

div.book-info {
  position:absolute;
  top:2px;
  right: 0px;
  left: 10px;
  h2 {
    margin-bottom:0px;
  }
  h3 {
    margin-top:0px;
    margin-bottom: 3px;
  }
  .book-price {
    text-align: right;
    padding-top:4px;
  }
  p.vat {
    font-size: 9px;
    text-transform: uppercase;
  }
}

ul.rating {
  display: none;
  height: 13px;
  margin:0px !important;
  padding:0px;
  position: relative;
  list-style-image: none;
  list-style-type: none;
  li {
    position: relative;
    display: inline-block !important;
    @include use-sprite(star);
    background-color: #e1e4e8;
    margin-right:-1.5px !important;
    &.marked {
      background-color: #fac953;
    }
  }
}

.button {
  margin-top: 25px;
}
