$mainmenu-height: 47px;
$page-padding-side: 7.5%;
$page-padding-top: 25px;
$page-padding-bottom: 34px;

$nav-ul-li-margin-left: 12px;
$nav-menu-left: 2px;
$nav-menu-margintop: 1px;
$navbar-main-padding: 13.5px 20px 0;

$page-padding-side-wide: 18%;
