@import "compass/css3/columns";

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page-container, BODY.start .page-container {
    padding-left: $page-padding-side-wide;
    padding-right: $page-padding-side-wide;
  }
  #app-menu {
    min-width: 400px;
    width: 400px;
    left: -400px;
    &.opened {
      @include translateX(400px);
      & + #pages-container {
        @include translateX(400px);
      }
    }
  }
section.bookshelf {
  width:100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  .book-field {
      width: 50%;
      flex-basis: 50%;
      -webkit-flex-basis: 50%;
      display: inline-block;
      //border-width: 1px;
      //border-top-width:0px;
      border-width: 0px !important;
      padding-left: 15px;
      /*&:nth-child(1), &:nth-child(2) {
        border-top-width:1px;
      }
      &:nth-child(even) {
        border-left-width: 0;
      }*/
      div.book-info {
        left: 108px;
      }
    }
  }

  section.chosen-books {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    .book-cover {
      position: relative !important;
      margin: 0 10px;
    }
  }
}

@media (orientation: landscape) {
  #main-container {
    @include transform(rotate(90deg));
    @include apply-origin(50% 50%, false);
  }
}
