@import "dimensions";

nav {
  text-align: right;
  ul {
    padding: 0px;
  }
  li {
    margin-left: $nav-ul-li-margin-left;
  }
}

#nav-menu {
  @include use-sprite(nav-menu);
  position:absolute;
  left: $nav-menu-left;
  margin-left:0px;
  margin-top: $nav-menu-margintop;
  &.exclamation {
    overflow: visible;
    &:after {
      content: "!";
      display:block;
      position:absolute;
      width:18px;
      height:18px;
      font-weight: bold;
      color: #ee4136;
      text-align:center;
      vertical-align: middle;
      line-height: 18px;
      background-color: white;
      border-radius: 50%;
      border: 2px solid #ee4136;
      right: -9px;
      top: -7px;
    }
  }
}

#nav-reader {
  @include use-sprite(nav-reader);
}

#nav-settings {
  @include use-sprite(nav-settings);
}

#nav-seek {
  @include use-sprite(nav-seek);
}

#nav-home {
  @include use-sprite(nav-home);
}

#navbar-main {
  height:$mainmenu-height;
  left:0px;
  right:0px;
  //position:fixed;
  background: #ee4136;
  padding: $navbar-main-padding;
}
