section.login-register {
  H1 {
    font-size: 20.8px;
    & + H2 {
      margin-top: 7px;
    }
  }
}

section.chosen-books {
  width:100%;
  position:relative;
  .book-cover {
    margin: 0 auto;
  }
  .book-cover:first-child, .book-cover:last-child {
    position:absolute;
    top:0px;
  }
  .book-cover:last-child {
    right:0px;
  }
}

section.bookshelf {
  min-height: 100px;
}

section.book-details {
  text-align: center;
  padding-bottom:12px;
  .book-field {
    margin: 0 auto;
    padding: 0 0 12px;
  }
  .book-cover {
    display: inline-block;
    width: 100px;
    height: 146px;
  }
  div.book-info {
    display: inline-block;
    position:relative;
    left: auto;
    right:auto;
    top: auto;
    h2 {
      margin-top: 10px;
    }
  }
  button {
    width: 83px;
    &:last-child {
      margin-left:15px;
    }
  }
}

section.reviews {
  padding: 24px 84px 16px 24px !important;
  &:after {
    right: 25px;
  }
}

section.reviews, section.genres-list {
  position:relative;
  &:after {
    content: '';
    position:absolute;
    top: 50%;
    margin-top: -8px;
    @include use-sprite(link-arrow);
  }
}

section.genres-list, section.lang-list {
  padding: 19px 0px 21px 0px !important;
  &:after {
    right: 1px;
  }
  p {
    padding-right: 60px;
  }
  span {
    font-size: 10px;
    position:absolute;
    right: 50px;
    top: 50%;
    margin-top: -8px;
  }
  border-bottom: solid #eff1f3;
}

section.genres, section.handling {
  padding-top: 25px;
  padding-bottom: 25px;
}

section.paypal {
  border: 1px solid #eff1f3;
  margin-top: 25px;
  padding: 25px 25px 22px 25px;
  position: relative;

  div.logo{
    @include use-sprite(braintree);
    margin: -42px auto 20px auto;
  }
}

section.search{
  margin-bottom: 25px;
}

section.search-popular {
  margin-top: 25px;
  text-align: center;
  h1 {
    font-size: 20.8px;
  }
  div {
    margin-top: 15px;
    a {
      font-size: 12px;
      font-weight: 600;
      color: #379de4;
      display: block;
      text-decoration: none;
      line-height: 24px;
    }
  }
}
