HTML, BODY {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 15px;
}

H1 {
  font-size: 15px;
  margin-top: -2px;
  margin-bottom:0px;
}

H2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

H3 {
  font-size: 8px;
  font-weight: normal;
  color: #8c8c8c;
  text-transform: uppercase;
}

p {
  font-size: 12.5px;
  margin:0;
}

a {
  color: #000;
  &.blue {
    color: #379de4;
  }
}
