<div id="book-details" class="page-container container" ng-if="::book.id">
    <section class="book-details hairline-border-bottom">
        <div class="book-field">
            <div class="book-cover">
                <img ng-src="{{book.thumb}}">
            </div>
            <div class="book-info">
                <h2>{{::book.title}}</h2>
                <h3>{{::book.author}}</h3>
                <!--<ul class="rating">
                    <li class="marked"></li>
                    <li class="marked"></li>
                    <li class="marked"></li>
                    <li class="marked"></li>
                    <li></li>
                </ul>-->
                <div class="button">
                    <button class="btn btn-buy round blue" translate ng-click="navigate.previewBook(book)">Preview</button>
                    <button class="btn btn-buy round green" translate ng-click="navigate.buyBook(book)">Buy</button>
                </div>
            </div>
        </div>
        <p><strong translate ng-if="book.pages">Number of pages:</strong> {{::book.pages}}</p>
    </section>
    <!--<section class="reviews link hairline-border-bottom">
        <h1>Omdömen om boken</h1>
        <p>Detta har andra användare sagt om boken</p>
    </section>-->
    <section class="genres hairline-border-bottom">
        <h1>Genres</h1>
        <ul class="taglist hlist">
            <li ng-repeat="tag in book.genres">{{tag}}</li>
        </ul>
    </section>
    <section class="handling hairline-border-bottom" ng-if="::book.summary">
        <h1 translate>Summary</h1>
        <p ng-if="book.shortSummary">{{book.shortSummary}} <a href="#" class="blue no-underline" ng-click="showSummary()"><strong translate>More</strong></a></p>
        <p ng-if="::book.fullSummary">{{book.fullSummary}}</p>
    </section>
    <section class="bookshelf" ng-if="book.similar">
        <h1 translate>Similar books</h1>
        <div class="book-field hairline-border-bottom" ng-repeat="book in book.similar" ng-click="navigate.showBook(book)">
            <div class="book-cover">
                <img ng-src="{{::book.thumb}}">
            </div>
            <div class="book-info">
                <h2>{{::book.title}}</h2>
                <h3>{{::book.author}}</h3>
                <!--<ul class="rating">
                    <li class="marked"></li>
                    <li class="marked"></li>
                    <li class="marked"></li>
                    <li class="marked"></li>
                    <li></li>
                </ul>-->
                <div class="button">
                    <button class="btn btn-buy round" ng-click="navigate.buyBook(book, $event)">{{::book.price}}:-</button>
                </div>
            </div>
        </div>
    </section>
</div>
