<section class="bookshelf">
    <div class="book-field hairline-border-bottom" ui-scroll="item in provider" adapter="booksAdapter" padding="0" ng-click="addToShelf ? addToShelf(item) : navigate.showBook(item)">
        <div class="book-cover">
            <img ng-src="{{item.thumb}}">
        </div>
        <div class="book-info">
            <h2>{{::item.title}}</h2>
            <h3>{{::item.author}}</h3>
            <div class="button" ng-if="::item.price">
                <button class="btn btn-buy round" ng-click="navigate.buyBook(item, $event)">{{::item.price}}:-</button>
            </div>
        </div>
    </div>
</section>
