<div id="ebook">
    <div class="info author"></div>
    <div class="info page" ng-if="bookData.book.ready">{{bookData.book.currentPage}} / {{::bookData.book.totalPages}}</div>
    <div class="slider-container" epub-slider></div>
    <div class="slider-info">
        <div class="chapter"></div>
        <div class="number"></div>
    </div>
</div>
