<div id="restore-pwd" class="page-container container">
    <section class="login-register">
        <h1 translate>Reset password</h1>
        <h2 translate>If you have lost your password you can request that a new password be assigned to your account and e-mailed to you by filling out the following form:</h2>
        <form novalidate method="post">
            <div class="form-field">
                <input class="hairline-border" type="email" placeholder="{{'Enter email'|translate}}">
            </div>
            <div class="form-field button-field">
                <button class="btn btn-green w100 round" type="submit" translate>Continue</button>
            </div>
        </form>
    </section>
</div>
