<div id="genres" class="page-container container" ui-scroll-viewport>
    <h1 translate>Genres</h1>
    <section class="genres-list link hairline-border-bottom" ui-scroll="item in provider" padding="0" ng-click="navigate.showGenreBooks(item)">
        <p><strong>{{item.title}}</strong></p>
        <span>{{item.quantity}}</span>
    </section>
</div>
