<div id="some-login" class="page-container container">
    <section class="login-register">
        <h1>Logga in</h1>
        <h2>Du måste logga in för att fortsätta. Har du inte redan ett konto så måste du <a href="#">registrera</a> dig för att komma vidare.</h2>
        <form>
            <div class="form-field highlight has-success">
                <input type="email" class="hairline-border" placeholder="Användarnamn">
            </div>
            <div class="form-field highlight has-error">
                <input type="password" class="hairline-border" placeholder="Lösenord">
            </div>
            <div class="form-field button-field">
                <button class="btn btn-green w100" type="button">FORTSÄTT</button>
            </div>
        </form>
        <a class="text-centered wb100" href="#">Har du glömt lösenordet?</a>
    </section>
</div>
