<div id="main-bookshelf" class="page-container container" ui-scroll-viewport>
    <section class="chosen-books">
        <div class="book-cover" ng-class="{empty: !book.thumb}" ng-repeat="book in bookShelf"  ng-click="navigate.readBook(book)">
            <img ng-if="book.thumb" ng-src="{{book.thumb}}">
        </div>
    </section>
    <h1 translate>Your books</h1>
    <ng-include src="'booklist'"></ng-include>
</div>
