<div id="app-menu" ng-class="{'opened': menuState.opened}">
    <div class="search">
        <input class="hairline-border" type="search" placeholder="{{'Search'|translate}}" ng-blur="searchString.length ? navigate.search(searchString) : ''" ng-model="searchString">
    </div>
    <ul class="vlist">
        <li class="books hairline-border-bottom" translate ng-click="navigate.home()">My books</li>
        <li class="genres hairline-border-bottom" translate ng-click="navigate.genres()">Genres</li>
        <li class="new-books hairline-border-bottom" translate ng-click="navigate.new()">New books</li>
        <li class="book-language hairline-border-bottom" translate ng-click="navigate.langs()">Books by language</li>
        <!-- <li class="top-books hairline-border-bottom" translate>Popular</li>
        <li class="account hairline-border-bottom" translate>User</li>
        <li class="news" translate>News<span>2</span></li>-->
    </ul>
</div>
<div id="pages-container" class="container">
    <nav id="navbar-main">
        <ul class="hlist">
            <li id="nav-menu" ng-click="toggleMenu()"></li>
            <li id="nav-reader"></li>
            <li id="nav-settings" ng-click="navigate.innerLogin()"></li>
            <li id="nav-seek" ng-click="navigate.search()"></li>
            <li id="nav-home" ng-click="navigate.home()"></li>
        </ul>
    </nav>
    <div app-view-segment="1"></div>
</div>
