<div id="register" class="page-container container">
    <section class="login-register">
        <h1 translate>Create an account</h1>
        <h2 translate>Register at Booqlas webapp and take advantage of all the books that are available. Your active books are available free online.</h2>
        <form name="registerForm" novalidate method="post" ng-submit="register(regInfo)">
            <div class="form-field" ng-class="{'highlight': registerForm.email.$dirty && registerForm.email.$touched, 'has-success': registerForm.email.$valid, 'has-error': !registerForm.email.$valid}">
                <input name="email" class="hairline-border" type="email" placeholder="{{'Enter email'|translate}}" ng-model="regInfo.email" required>
            </div>
            <div class="form-field" ng-class="{'highlight': registerForm.password.$dirty && registerForm.password.$touched, 'has-success': registerForm.password.$valid, 'has-error': !registerForm.password.$valid}">
                <input name="password" class="hairline-border" type="password" placeholder="{{'Password'|translate}}" ng-model="regInfo.password" required>
            </div>
            <div class="form-field" ng-class="{'highlight': registerForm.password1.$dirty && registerForm.password1.$touched, 'has-success': registerForm.password1.$valid, 'has-error': !registerForm.password1.$valid}">
                <input name="password1" class="hairline-border" type="password" placeholder="{{'Repeat password'|translate}}" ng-model="regInfo.password1" required compare-to="regInfo.password">
            </div>
            <div class="form-field" ng-class="{'highlight': registerForm.country.$dirty && registerForm.country.$touched, 'has-success': registerForm.country.$valid, 'has-error': !registerForm.country.$valid}">
                <div class="select-field">
                    <div class="select-arrows"></div>
                    <select name="country" class="hairline-border" ng-model="regInfo.country" required convert-to-number>
                        <option value="" disabled selected translate>Your country</option>
                        <option value="1">Something</option>
                        <option value="2">Something 2</option>
                    </select>
                </div>
            </div>
            <div class="form-field button-field">
                <button class="btn btn-green w100 round" type="submit" translate>Continue</button>
            </div>
        </form>
    </section>
</div>
