<div id="search" class="page-container container">
    <section class="search">
        <h1 translate>Search</h1>
        <h2 translate>Search book titles, author, ISBN number or take you on via some of our most popular searches below.</h2>
        <div class="search">
            <input class="hairline-border" type="search" placeholder="{{'Search'|translate}}" ng-model="searchString" ng-blur="searchString.length ? search(searchString) :''">
            <button class="btn" translate>Search</button>
        </div>
    </section>
    <ng-include src="'booklist'"></ng-include>
    <section class="search-popular" ng-if="similar.length">
        <h1 translate>Popular searches</h1>
        <div>
            <a ng-click="search(request)" ng-repeat="request in similar">{{::request}}</a>
        </div>
    </section>
</div>
