<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1">
        <title>Mooqla</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="../bower_libs/angular/angular.js"></script>
        <script src="../bower_libs/angular-route/angular-route.js"></script>
        <script src="../bower_libs/angular-touch/angular-touch.js"></script>
        <script src="../bower_libs/angular-gettext/dist/angular-gettext.js"></script>
        <script src="../bower_libs/localforage/dist/localforage.nopromises.js"></script>
        <script src="../bower_libs/jszip/dist/jszip.js"></script>
        <script src="../node_modules/grunt-contrib-requirejs/node_modules/requirejs/require.js"></script>
        <script>
            window.gSettings = {
                'backendURL': 'http://api.refuseradeforfattare.se',
                'DEVELOPER': true,
                'THUMB': {'width': '147', 'height': '220'}
            }
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", pageLoaded, false);
            function pageLoaded() {
                require(['config/config'], function() {
                    require(['main'])
                });
            }
        </script>
    </head>
    <body ng-controller="AppController">
		<div id="main-container" class="container" app-view-segment="0"><div id="pages-container" class="container"><div id="start" class="page-container container"></div></div></div>
        <div class="spinner-container" us-spinner spinner-key="http-spinner" style="display:none" spinner-start-active="false"></div>
        <div class="loading-container" ng-class="{active: loading.progress}"><p><span translate>Loading</span>... {{loading.progress}}%</p></div>
    </body>
</html>
